* {
  margin: 0;
  padding: 0; }

button {
  cursor: pointer;
  border: none;
  width: auto;
  height: auto;
  background: auto;
  background-color: transparent;
  font-size: 18px !important; }
  button:hover, button:active, button:focus {
    outline: none; }

#header {
  width: 100%;
  height: 500px;
  background: url("/images/header-image.jpg") no-repeat top center/100%;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0; }
  #header .text-bar {
    width: 40%;
    height: auto;
    color: #fff;
    padding: 15px;
    position: relative;
    top: 200px;
    font-size: 18px;
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, black 75%, transparent); }
  #header #shadow-overlay {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0; }
  #header .font-blue {
    color: #00bdff; }
  #header .cross-thru {
    text-decoration: line-through; }
  #header .bold {
    font-weight: bold; }

.shadow-button {
  text-decoration: none; }
  .shadow-button:hover {
    text-decoration: none; }
  .shadow-button:active {
    text-decoration: none; }
  .shadow-button:focus {
    text-decoration: none; }

.btn {
  display: block;
  border: none;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  border-top: 3px solid black;
  transition: all ease .3s;
  position: relative; }
  .btn:before {
    content: 'Hover Me!';
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 100px;
    top: 0;
    left: 0;
    transition: all ease .3s; }
  .btn:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all ease .3s;
    border-top: 3px solid red; }
  .btn:hover:before {
    transform: rotate(-360deg);
    transition: all ease .3s; }
  .btn:active, .btn:focus, .btn:visited {
    outline: none; }
