.btn {
  display: block;
  border: none;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%;
  border-top: 3px solid black;
  transition: all ease .3s;
  position: relative; }
  .btn:before {
    content: 'Hover Me!';
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 100px;
    top: 0;
    left: 0;
    transition: all ease .3s; }
  .btn:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all ease .3s;
    border-top: 3px solid red; }
  .btn:hover:before {
    transform: rotate(-360deg);
    transition: all ease .3s; }
  .btn:active, .btn:focus, .btn:visited {
    outline: none; }
