#header {
  width: 100%;
  height: 500px;
  background: url('/images/header-image.jpg') no-repeat top center / 100%;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  .text-bar {
    width: 40%;
    height: auto;
    min-height: 75px;
    color: #fff;
    padding: 25px 15px 0;
    position: relative;
    top: 200px;
    font-size: 18px;
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(to right, black 75%, rgba(0,0,0,0));
  }
  #shadow-overlay {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
  }
  .font-blue {
    color: #00bdff;
  }
  .cross-thru {
    text-decoration: line-through;
  }
  .bold {
    font-weight: bold;
  }
}
.shadow-button {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
