* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  width:  auto;
  height: auto;
  background: auto;
  background-color: transparent;
  font-size: 18px !important;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
